.typing-animation {
  &__animated-cursor {
    font-weight: 100;
    animation-name: cursor-blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}

@keyframes cursor-blink {
  0%,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
